<div class="container">
  <div class="row">
    <div class="col col-md-2"></div>
    <div class="col col-md-2">
      <%= image_tag @user.avatar, width: '175px', height: '175px',class: "circular-image" if @user.avatar? %><br>
    </div>
    <div class="col-md-8" >
      <h1><%= @user.name %></h1>
      <h4><%= @user.email %></h4>
      <p><%= @user.intro %><br></p>
      <p><%= link_to 'Edit Profile', edit_user_path(@user),class: "btn btn-primary"%></p>
    </div>
  </div>
</div>
<br>
<br>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading"><strong><%= @commented_restaurants.count %></strong> 評論過的餐廳</div>
    <div class="panel-body">
      <% @commented_restaurants.each do |restaurant| %>
      <div class = "my-restaurant">
        <div>
          <%= image_tag restaurant.image,class: "my-restaurant-item-imag" %>
        </div>
          <%= link_to restaurant.name, restaurant_path(restaurant) %>
      </div>
      <% end %>
    </div>
  </div>
</div>
