<div class="container">
  <div class="row">
    <div class="col col-md-2"></div>
    <div class="col col-md-2">
      <%= image_tag @user.avatar, width: '175px',class: "circular-image" if @user.avatar? %><br>
    </div>
    <div class="col-md-8" >
      <h2><%= @user.name %></h2>
      <h5><%= @user.email %></h5>
      <%= @user.intro %><br>
      <%= link_to 'Edit Profile', edit_user_path(@user),class: "btn btn-primary"%>
    </div>
  </div>
</div>
